* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  background-color: #F4F4F4;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'NanumSquare';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  position: relative;
  height: 100%;
  min-width: 360px;
  max-width: 500px;
  min-height: 100vh;
  /* padding-top: 52px; */
  /* TODO: navbar가 들어가는 페이지에서만 따로 선언하기 */
  /* padding-bottom: 62px; */
  background-color: #fff;
  margin: 0 auto;
}
